@use "../abstracts/colors.scss" as *;
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin: 2rem 0;
    h1 {
        color: $ratting;
    }
    .navbar {
        .link {
            color: $cardbg;
            margin: 0 1rem;
            padding: 1rem;
        }
        .link:hover {
            color: $cardheader;
        }
    }
}

@media screen and (max-width: 768px){
    .header {
        flex-direction: column;
        align-items: start;
        .navbar {
            display: flex;
            flex-direction: column;
        }
    }
}